<section class="panel first-first-semester">
		<div class="panel-body">
			<div class="validation-message"></div>
			<form class="form-horizontal tasi-form" id='create-curriculum-form'>
				<div class="form-group text-center">
					<label >FIRST YEAR <br /> First Semester</label>
				</div>
				<div class="form-group text-center">
					<label class="col-sm-12">Subjects</label>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th style="max-width: 5em">Catalog Number</th>
							<th>Descriptive Title</th>
							<th class="text-center">Lec</th>
							<th class="text-center">Lab</th>
							<th class="text-center">Total</th>
							<th>Prerequisite(s)</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</section>

	<section class="panel first-second-semester">
		<div class="panel-body">
			<div class="validation-message"></div>
			<form class="form-horizontal tasi-form" id='create-curriculum-form'>
				<div class="form-group text-center">
					<label >FIRST YEAR <br /> Second Semester</label>
				</div>
				<div class="form-group text-center">
					<label class="col-sm-12">Subjects</label>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th style="max-width: 5em">Catalog Number</th>
							<th>Descriptive Title</th>
							<th class="text-center">Lec</th>
							<th class="text-center">Lab</th>
							<th class="text-center">Total</th>
							<th>Prerequisite(s)</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</section>

	<section class="panel second-first-semester">
		<div class="panel-body">
			<div class="validation-message"></div>
			<form class="form-horizontal tasi-form" id='create-curriculum-form'>
				<div class="form-group text-center">
					<label >SECOND YEAR <br /> First Semester</label>
				</div>
				<div class="form-group text-center">
					<label class="col-sm-12">Subjects</label>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th style="max-width: 5em">Catalog Number</th>
							<th>Descriptive Title</th>
							<th class="text-center">Lec</th>
							<th class="text-center">Lab</th>
							<th class="text-center">Total</th>
							<th>Prerequisite(s)</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</section>

	<section class="panel second-second-semester">
		<div class="panel-body">
			<div class="validation-message"></div>
			<form class="form-horizontal tasi-form" id='create-curriculum-form'>
				<div class="form-group text-center">
					<label >SECOND YEAR <br /> Second Semester</label>
				</div>
				<div class="form-group text-center">
					<label class="col-sm-12">Subjects</label>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th style="max-width: 5em">Catalog Number</th>
							<th>Descriptive Title</th>
							<th class="text-center">Lec</th>
							<th class="text-center">Lab</th>
							<th class="text-center">Total</th>
							<th>Prerequisite(s)</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="max-width: 5em"><input type="text" name='subject' class="form-control" placeholder='Enter Subject' /></td>
							<td></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td class="text-center"></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</section>

	<div class="text-center">
		<button class="btn btn-md">Add Summer</button>
	</div>